<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Facial Recognition Photo Organiser" 
           Manufacturer="Rév O'Conner" 
           Version="0.1.0.0"
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    
    <Feature Id="MainFeature">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="InternalFiles" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="AutoStartup" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>

    <Icon Id="AppIcon" SourceFile="icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Property Id="ARPHELPLINK" Value="https://example.com" />
    
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="Face Recognition Organiser">
        <Directory Id="INTERNALFOLDER" Name="_internal" />
      </Directory>
    </StandardDirectory>
    
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Facial Recognition Photo Organiser"/>
    </StandardDirectory>
    
    <StandardDirectory Id="DesktopFolder" />
    <StandardDirectory Id="StartupFolder" />
  </Package>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="11111111-1111-1111-1111-111111111111">
        <File Source="dist\FaceRecognition\FaceRecognition.exe" KeyPath="yes" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="InternalFiles" Directory="INTERNALFOLDER">
      <Files Include="dist\FaceRecognition\_internal\**" />
    </ComponentGroup>

    <Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder" Guid="22222222-2222-2222-2222-222222222222">
      <Shortcut Id="ApplicationStartMenuShortcut"
                Name="Facial Recognition Photo Organiser"
                Target="[INSTALLFOLDER]FaceRecognition.exe"
                WorkingDirectory="INSTALLFOLDER"
                Icon="AppIcon"/>
      <RemoveFolder Id="CleanUpShortCut" On="uninstall"/>
      <RegistryValue Root="HKCU" 
                     Key="Software\FacialRecognition" 
                     Name="installed" 
                     Type="integer" 
                     Value="1" 
                     KeyPath="yes"/>
    </Component>

    <Component Id="DesktopShortcut" Directory="DesktopFolder" Guid="33333333-3333-3333-3333-333333333333">
      <Shortcut Id="DesktopShortcutId"
                Name="Facial Recognition Photo Organiser"
                Target="[INSTALLFOLDER]FaceRecognition.exe"
                WorkingDirectory="INSTALLFOLDER"
                Icon="AppIcon"/>
      <RegistryValue Root="HKCU" 
                     Key="Software\FacialRecognition" 
                     Name="desktop" 
                     Type="integer" 
                     Value="1" 
                     KeyPath="yes"/>
    </Component>

    <Component Id="AutoStartup" Directory="StartupFolder" Guid="44444444-4444-4444-4444-444444444444">
      <Shortcut Id="StartupShortcut"
                Name="Facial Recognition Photo Organiser"
                Target="[INSTALLFOLDER]FaceRecognition.exe"
                WorkingDirectory="INSTALLFOLDER"
                Arguments="--minimized"
                Icon="AppIcon"/>
      <RegistryValue Root="HKCU" 
                     Key="Software\FacialRecognition" 
                     Name="startup" 
                     Type="integer" 
                     Value="1" 
                     KeyPath="yes"/>
    </Component>
  </Fragment>
</Wix>
